<%- include("partials/header"); -%>

<div class="startContent">
  <h1>Home</h1>
  <p> <%= homeContent %> </p>
</div>
<div class="postContent">
  <%# use foreach method for the function %>
  <% postContents.forEach(function(content) { %>
  <div class="post">
    <h3 class="postTitle"> <%= content.title %> </h3>
    <p> <%= (content.journal).substring(0,200) %> ... <a href="/posts/<%=content.title%>">Read More</a></p>
  </div>
  <% }); %>
</div>
<div>
  <br>
  <a href="/compose" class="btn btn-lg btn-primary">Compose</a>
</div>

<%- include("partials/footer"); -%>
